Hello, World/obj/Hello, World.csproj.nuget.dgspec.json
Hello, World/obj/Hello, World.csproj.nuget.g.props
Hello, World/obj/Hello, World.csproj.nuget.g.targets
Hello, World/obj/project.assets.json
Hello, World/obj/project.nuget.cache
Hello, World/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Hello, World/obj/Debug/net8.0/apphost.exe
Hello, World/obj/Debug/net8.0/Hello, World.AssemblyInfo.cs
Hello, World/obj/Debug/net8.0/Hello, World.AssemblyInfoInputs.cache
Hello, World/obj/Debug/net8.0/Hello, World.assets.cache
Hello, World/obj/Debug/net8.0/Hello, World.csproj.CoreCompileInputs.cache
Hello, World/obj/Debug/net8.0/Hello, World.csproj.FileListAbsolute.txt
Hello, World/obj/Debug/net8.0/Hello, World.dll
Hello, World/obj/Debug/net8.0/Hello, World.GeneratedMSBuildEditorConfig.editorconfig
Hello, World/obj/Debug/net8.0/Hello, World.genruntimeconfig.cache
Hello, World/obj/Debug/net8.0/Hello, World.GlobalUsings.g.cs
Hello, World/obj/Debug/net8.0/Hello, World.pdb
Hello, World/obj/Debug/net8.0/ref/Hello, World.dll
Hello, World/obj/Debug/net8.0/refint/Hello, World.dll
Hello, World/bin/Debug/net8.0/Hello, World.deps.json
Hello, World/bin/Debug/net8.0/Hello, World.dll
Hello, World/bin/Debug/net8.0/Hello, World.exe
Hello, World/bin/Debug/net8.0/Hello, World.pdb
Hello, World/bin/Debug/net8.0/Hello, World.runtimeconfig.json
.vscode/settings.json
